<html>
<head>
    <title>Peter's blog</title>
</head>
<style>
    #div_1
    {
        background-color: #F19898;
        width: 600px;
        border: 1px solid green;
    }

    #div_2 
    {
        background-color: #B15999;
        width: 600px;
        border: 1px solid blue;
    }

    #div_3
    {
        background-color: #AAE497;
        width: 600px;
        border: 1px solid red;
    }
</style>
<h1> 
    Peter's Blog
</h1>


<body>
    <div id="div_1">
        <h2><a href="/">First Post</a></h2>
        <p>Hi there!</p>
        <p>It works!</p>
    </div>

    {% for post in posts %}
        <div id="div_2">
            <p>published: {{post.published_date}}</p>
            <h2><a href="">{{post.title}}</a></h2>
            <p>{{post.text|linebreaksbr}}</p>    
        </div>
    {% endfor %}

    <div id="div_3">
        <h2><a href="/">Second Post</a></h2>
        <p> 
            This is my body of text <br>
            <em> emphasised text? I guess it's italics </em> <br>
            <strong> strongly emphasied text? okay, and this is bold </strong>
        </p>
    </div>
</body>
</html>